<div id="<%= dom_id folder %>" class="border rounded" style="margin-bottom: 30px;">
  <table class="table" style="width: 100%">
      <%= form_for @task do |f| %>
      <tr style="vertical-align: middle">
        <td scope="row" style="text-align: right"><b><%= f.label :title, style: "display: block" %></b></td>
        <td><%= f.text_field :title, class: 'form-control', placeholder: 'Write your task here...' %></td>
        <td style="text-align: right"><b><%= f.label :deadline, style: "display: block" %><b></td>
        <td><%= f.date_field :deadline, class: 'form-control' %></td>
        <td><%= f.submit 'Add task', class: 'btn btn-secondary'%></td>
        <td><%= f.hidden_field :done, :value => false %></td>
        <td><%= f.hidden_field :folder_id, :value => @folder.id %></td>
      </tr>
      <% end %>
  </table>

  <p style="color: red; margin-left: 20px"><%= flash[:error] %></p>
  <table class="table" style="width: 100%">
    <thead>
      <tr>
        <th scope="col">Complete</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Deadline</th>
        <th scope="col">Time Left</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.where(done: false).order(deadline: :asc).each_with_index do |task, index| %>
        <% days = (task.deadline - Date.today).to_i %>
        <% if days < @colors['red']  %>
          <% bg_color = '-red' %>
        <% elsif days < @colors['orange'] %>
          <% bg_color = '-orange' %>
        <% elsif days < @colors['yellow'] %>
          <% bg_color = '-yellow' %>
        <% else %>
          <% bg_color = '-grey' %>
        <% end %>
        <tr style="vertical-align: middle" id="row<%= task.id %>">
          <td scope="row">
            <%= form_for task do |f| %>
              <%= f.check_box :done, :value => task.done, class: "form-check-input", checked: "checked", hidden: "hidden" %>
              <%= f.submit 'Do', class: "btn btn-outline-dark", style: "width: 65.06px; line-height: 15px" %>
              <%= f.text_field :done_by, value: current_user.username, hidden: "hidden" %>
            <% end %>
          </td>
          <td><b><%= task.title %></b></td>
          <td><%= image_tag 'logos/in-progress.png', style: "width: 20px; height: 20px" %><span class="dot<%= bg_color %>"></span></td>
          <td><%= task.deadline.to_formatted_s(:rfc822) %></td>
          <td>
            <% if days == 1 %>
              1 day
            <% elsif days >= 0 %>
              <%= days %> days
            <% else %>
              <%= days.abs %> days overdue
            <% end %>
          </td>
          <td><%= button_to image_tag('logos/trash--v1.png', style: "width: 20px; height: 20px"), task, method: :delete, class: "btn btn-outline-dark", style: "width: 65.06px; line-height: 15px" %></td>
        </tr>
      <% end %>
      <% @tasks.where(done: true).order(deadline: :asc).each_with_index do |task, index| %>
        <tr style="vertical-align: middle; background-color: lightgreen" id="row<%= task.id %>">
          <td scope="row">
            <%= form_for task do |f| %>
              <%= f.check_box :done, :value => task.done, class: "form-check-input", checked: "", hidden: "hidden" %>
              <%= f.submit 'Undo', class: "btn btn-outline-dark", style: "line-width: 15px; line-height: 15px" %>
              <%= f.text_field :done_by, value: "", hidden: "hidden"%>
            <% end %>
          </td>
          <td><s><%= task.title %></s></td>
          <td><%= image_tag 'logos/done.png', style: "width: 20px; height: 20px" %></td>
          <td><%= task.deadline.to_formatted_s(:rfc822) %></td>
          <td></td>
          <td><%= button_to image_tag('logos/trash--v1.png', style: "width: 20px; height: 20px"), task, method: :delete, class: "btn btn-outline-dark", style: "width: 65.06px; line-height: 15px" %></td>
        </tr>
      <% end %>
      <%= form_for @task do |f| %>
      <tr style="vertical-align: middle" hidden="hidden"> 
        <td scope="row">edit task example</td>
        <td><%= f.text_field :title %></td>
        <td></td>
        <td><%= f.date_field :deadline, class: 'form-control' %></td>
        <td></td>
        <td>edit|delete</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
