<div id="<%= dom_id folder %>">
  <p>
    <strong>Name:</strong>
    <%= folder.name %>
  </p>

  <p>
    <strong>User ID:</strong>
    <%= folder.user_id %>
  </p>
  
  <% @tasks.each do |task| %>
    <% if task.done == true %>
      <strike><p><%= task.title %></p></strike>
      <%= form_for task do |f| %>
        <%= f.check_box :done, :value => task.done %>
        <%= f.submit 'Вернуть' %>
      <% end %>
    <% elsif task.done == false %>
      <p><%= task.title %></p>
      <%= form_for task do |f| %>
        <%= f.check_box :done, :value => task.done %>
        <%= f.submit 'Выполнить' %>
      <% end %>
    <% end %>

  <% end %>

  <%= form_for @task do |f| %>
    <p style="color: red"><%= f.text_field :title %><%= flash[:error] %></p>
    <%= f.hidden_field :done, :value => false %>
    <%= f.hidden_field :folder_id, :value => @folder.id %>
    <%= f.submit 'Добавить задачу' %>
  <% end %>

</div>
