<%= form_with(model: folder) do |form| %>
  <% if folder.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
        <% folder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name,  class: "form-control" %>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, placeholder: "Describe your folder...", class: "form-control" %>
    <h1>Color settings</h1>
    <div class="row">
      <div class="col-3" style="margin-right: 20px">
        <span class="dot-red" style="margin-right: 10px"></span>
        <%= form.label 'if days left <', style: "display-block" %>
        <%= form.number_field :red, value: colors["red"] , class: "form-control", style: "margin-left: 5px" %>
      </div>
      <div class="col-3" style="margin-right: 20px">
        <span class="dot-orange" style="margin-right: 10px"></span>
        <%= form.label 'if days left <', style: "display-block" %>
        <%= form.number_field :orange, value: colors["orange"] , class: "form-control", style: "margin-left: 5px" %>
      </div>
      <div class="col-3" style="margin-right: 20px">
        <span class="dot-yellow" style="margin-right: 10px"></span>
        <%= form.label 'if days left <', style: "display-block" %>
        <%= form.number_field :yellow, value: colors["yellow"] , class: "form-control", style: "margin-left: 5px" %>
      </div>
  </div>

  <div style="margin-bottom: 20px">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.submit class: "btn btn-success"%>
  </div>
<% end %>
