<div>
<div class="d-inline-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 15%; height: 100vh; float: left">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">My Folders</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <%# <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
        Home
      </a>
    </li> %>
    <% @folders.each do |folder|%>
    <li>
      <div class="nav-link">
        <svg class="bi me-2" width="16" height="16"></svg>
        <%= link_to folder.name, folder, style: "color: white; text-decoration: none"%>
      </div>
    </li>
    <% end %>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
        Orders
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        Products
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        Customers
      </a>
    </li>
  </ul>
  <hr>
</div>

<div class="d-inline-flex flex-column" style="width: 85%">
  <div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container-fluid">
  <%# <a class="navbar-brand" href="#">Navbar</a> %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class=" collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto ">
      <li class="nav-item">
        <a class="nav-link mx-2 active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Company
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Blog</a></li>
          <li><a class="dropdown-item" href="#">About Us</a></li>
          <li><a class="dropdown-item" href="#">Contact us</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>
  </div>
  <p style="color: green"><%= notice %></p>
  <h1>Folders</h1>

  <div id="folders">
    <% @folders.each do |folder| %>
      <p>
        <%= folder.name %>
        <%= link_to "Show this folder", folder %>
      </p>
    <% end %>
  </div>

  <%= link_to "New folder", new_folder_path %>
  <%= link_to "Выйти из аккаунта", session_logout_path %>
</div>
