<div class="d-inline-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 15%; height: 100vh; float: left">
  <a href="/public_folders" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-6"><%= current_user.username + "'s" %> public folders</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <span class="fs-6" style="text-align: center; color: yellow">Ownership:</span>
    <% @owning_folders.each do |folder|%>
      <% if folder == @public_folder %>
        <li>
          <div class="nav-link active">
            <%= link_to image_tag('logos/settings-16.png'), url_for("/public_folders/#{folder.id}/edit"), :class => 'bi me-2', :remote => true %>
            <%= link_to folder.name, folder, style: "color: white; text-decoration: none"%>
          </div>
        </li>
      <% else %>
        <li>
          <div class="nav-link">
            <%= link_to image_tag('logos/settings-16.png'), url_for("/public_folders/#{folder.id}/edit"), :class => 'bi me-2', :remote => true %>
            <%= link_to folder.name, folder, style: "color: white; text-decoration: none"%>
          </div>
        </li>
      <% end %>
    <% end %>
    <hr>
    <span class="fs-6" style="text-align: center; color: cyan">Membership:</span>
    <% @membering_folders.each do |folder|%>
      <% if folder == @public_folder %>
        <li>
          <div class="nav-link active">
            <%= link_to image_tag('logos/settings-16.png'), url_for("/public_folders/#{folder.id}/edit"), :class => 'bi me-2', :remote => true %>
            <%= link_to folder.name, folder, style: "color: white; text-decoration: none"%>
          </div>
        </li>
      <% else %>
        <li>
          <div class="nav-link">
            <%= link_to image_tag('logos/settings-16.png'), url_for("/public_folders/#{folder.id}/edit"), :class => 'bi me-2', :remote => true %>
            <%= link_to folder.name, folder, style: "color: white; text-decoration: none"%>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <hr>
  <p><%= button_to "Create new folder", new_public_folder_path, class: "btn btn-success", method: :get %></p>
</div>

<div class="d-inline-flex flex-column bg-light" style="width: 85%; height: 100vh; overflow: auto">
  <div class="header" style="position: fixed; width: 85%; top: 0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2" style="height: 125%">
      <div class="container-fluid">
        <img src="https://findicons.com/files/icons/732/snow_leopard/256/folder_folder.png" alt="Logo" style="width: 30px; height: 30px; margin-right: 10px">
        <%= link_to @public_folder.name, "/public_folders/#{@public_folder.id}", class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
              <a class="nav-link mx-2 active" aria-current="page" href="">Public Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" aria-current="page" href="/folders">My Tasks</a>
            </li>
            <% if current_user.id == 6 %>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/users">All Users</a>
            </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Account", "/users/#{current_user.id}" , class: "nav-link mx-2"%>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", session_logout_path, class: "nav-link mx-2" %>
            </li>
          </ul>
        </div> 
      </div>
    </nav>
  </div>

  <div class="row d-flex justify-content-center" style="width: 100%; padding-top: 80px">
    <div class="col-6 border rounded">
    <h1>Editing <%= @public_folder.name %></h1>
    <p style="color: red"><%= flash[:error] %></p>

    <%= render "form", folder: @public_folder, colors: @colors %>

    <div class="row" style="margin-top: 30px">
      <h5>Do you want to <u style="color: red">delete</u> this folder?<h5>
      <div class="col-4"><%= button_to "Delete this folder!", @public_folder, method: :delete, class: "btn btn-danger"%></div> 
    </div>
  </div>
</div>
